<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @gadget.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @gadget.description %>
</p>

<p>

  <strong>Price:</strong>
  <%= @gadget.price %>
</p>

<p>
<ul class="list-view" style="list-style:none;">
<% @gadget_attachments.each do |p| %>

<li>  <%= image_tag p.avatar_url %> </li>
<% end %>
</ul>
</p>