<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @gadget.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @gadget.description %>
</p>

<p>

  <strong>Price:</strong>
  <%= @gadget.price %>
</p>
 <ul class="row">
<% @gadget_attachments.each do |p| %>
<li class="">
          <%= image_tag p.avatar_url(:thumb) %>    
            </li>

<% end %>
</ul>


   <p>
      <%= link_to 'Edit', edit_gadget_path(@gadget) %> |
      <%= link_to 'Destroy', @gadget, confirm: 'Are you sure?', method: :destroy %> |
      <%#= link_to 'Home', gadgets_path %>
    </p>
<%#= link_to 'Original Images', {:controller => 'gadgets', :action => 'original', :id => "#{@gadget.id }" } %>


